@-webkit-keyframes fadeinout {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeinout {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

a {
  color: #bf93d8;
  text-decoration: none; }
  a.highlight {
    border-bottom: 2px dashed;
    transition: border-bottom 1s ease; }
    a.highlight:hover {
      color: #333333;
      border-bottom: 2px dashed #333333; }
  a.active {
    border-bottom: 2px solid #333333;
    padding-bottom: 0.25rem; }

.field {
  padding: 0.75rem 0;
  max-width: 35rem; }
  .field.boxed {
    padding: 0 0;
    max-width: 100%; }

input {
  border: 0.0625rem solid #deedf2;
  background: white;
  border-radius: 0.5rem;
  padding: 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

input:focus {
  border: 0.0625rem solid yellow;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: yellow; }

::placeholder {
  font: 400 0.9rem "Lato", Helvetica, sans-serif;
  color: #6f7779;
  font-style: italic; }

label {
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
  width: 100%;
  display: block;
  font-weight: 700; }

body {
  background: url("../images/grid.svg");
  font-family: 'Lato';
  background-color: yellow;
  min-width: 570px; }

.flex-group {
  display: inline-block; }
  .flex-group > div {
    flex: none; }

@media screen and (min-width: 570px) {
  .flex-group {
    display: flex;
    flex-wrap: wrap; }
    .flex-group > div, .flex-group dl {
      flex: 1;
      margin-right: 0.75rem; }
      .flex-group > div:last-of-type, .flex-group dl:last-of-type {
        margin-right: 0; }
    .flex-group.width-control > div.twenty-five-percent {
      width: 25%;
      flex: none; }
    .flex-group.width-control > div.fifty-percent {
      width: 50%;
      flex: none; }
    .flex-group.flex-start {
      justify-content: flex-start; }
      .flex-group.flex-start > div, .flex-group.flex-start a {
        flex: none;
        margin-right: 1rem; }
        .flex-group.flex-start > div:last-of-type, .flex-group.flex-start a:last-of-type {
          margin-right: 0; }
      .flex-group.flex-start > dl {
        margin-right: 0.75rem; }
      .flex-group.flex-start > dd, .flex-group.flex-start dt {
        flex: none;
        margin-right: 0.75rem !important; }
    .flex-group.flex-end {
      justify-content: flex-end; }
      .flex-group.flex-end > div {
        flex: none;
        margin-right: 1rem; }
        .flex-group.flex-end > div:last-of-type {
          margin-right: 0; }
      .flex-group.flex-end > dd, .flex-group.flex-end dt {
        flex: none;
        margin-right: 0.75rem !important; }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center; }
    .flex-center > div {
      flex: none;
      margin-right: 1rem; }
      .flex-center > div:last-of-type {
        margin-right: 0; }
    .flex-center > dl {
      flex: none;
      margin-right: 3rem !important; } }

.flex-wrap {
  flex-wrap: wrap; }

footer {
  margin: 3rem auto 0 auto;
  max-width: 50rem;
  font-size: 0.9rem; }

header {
  max-width: 50rem;
  margin: 3rem auto 2rem auto;
  text-align: center;
  min-width: 570px; }
  header a {
    color: white; }
  header > div {
    margin: 0 auto; }
    header > div .logo {
      height: 5rem;
      min-width: 3rem;
      background: url("../images/ea-logo.svg");
      background-repeat: no-repeat;
      background-position: center 0rem;
      text-indent: -999rem;
      display: block; }
    header > div .ea-tagline {
      height: 2.5rem;
      min-width: 3rem;
      background: url("../images/ea-tagline.svg");
      background-repeat: no-repeat;
      background-position: center 0rem;
      text-indent: -999rem;
      display: block; }

@media screen and (min-width: 50rem) {
  header > div .logo {
    background-position: top left; }
  header > div .ea-tagline {
    background-position: center right; } }

[role=main] {
  display: block;
  max-width: 50rem;
  margin: 0 auto;
  background-color: white;
  padding: 2rem 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem; }

[role=navigation] {
  padding-bottom: 1.5rem; }
  [role=navigation] ul li {
    display: inline-block;
    padding-right: 1.5rem; }
    [role=navigation] ul li a {
      padding: 0.7rem 1rem;
      background-color: #333333;
      color: white;
      transition: background-color 0.75s ease;
      display: block; }
      [role=navigation] ul li a.selected, [role=navigation] ul li a.selected:hover {
        background: #333333;
        color: #bf93d8;
        transition: color 0.75s ease; }
      [role=navigation] ul li a:hover {
        background: #333333;
        color: #bf93d8;
        transition: color 0.75s ease; }

nav {
  max-width: 50rem;
  margin: 0 auto; }

.page {
  color: red;
  background: blue; }

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
blockquote,
figure,
fieldset,
legend,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

td,
th {
  padding: 0;
  text-align: left; }

h1, h2, h3, h4, h5, h6, caption, .progressbar {
  font-weight: 400;
  line-height: 1.5;
  color: #bf93d8; }

h1 {
  font-size: 1.75rem;
  padding-bottom: 0.5em; }

h2 {
  font-size: 1.15rem;
  padding-top: 2rem;
  padding-bottom: 1rem; }

h3 {
  font-size: 1rem;
  padding-bottom: 1rem; }

h4 {
  font-size: 0.85rem; }

caption {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  padding-top: 2rem; }

th {
  font-size: 0.85rem;
  font-weight: 700; }

legend {
  font-size: 0.9rem; }

body {
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.65rem;
  font-size: 16px;
  text-align: left;
  margin: 0;
  padding: 0; }
  body p, body li, body input, body textarea {
    font-size: 0.9rem; }
    body p.small, body li.small, body input.small, body textarea.small {
      font-size: 0.85rem; }
  body p + p {
    padding-top: 0.75rem; }
  body table {
    font-size: 0.85rem; }

footer {
  font-weight: 400;
  line-height: 1.35rem; }

.semi-bold {
  font-weight: 500; }

.bold {
  font-weight: 700; }
