@-webkit-keyframes fadeinout {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeinout {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

a {
  color: #bf93d8;
  text-decoration: none; }
  a.highlight {
    border-bottom: 2px dashed;
    transition: border-bottom 1s ease; }
    a.highlight:hover {
      color: #333333;
      border-bottom: 2px dashed #333333; }
  a.active {
    border-bottom: 2px solid #333333;
    padding-bottom: 0.25rem; }

body {
  background: #f1f1f1;
  font-family: 'Lato'; }

footer {
  margin: 0 auto;
  max-width: 50rem;
  background-color: white;
  padding: 3rem; }

.footer-inner {
  color: #6f7779; }

header {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 3rem 3rem 0 3rem; }
  header a {
    color: white; }
  header > div {
    max-width: 50rem;
    margin: 0 auto; }
    header > div .logo {
      height: 50px;
      background: url("../images/ea-logo.svg");
      background-repeat: no-repeat;
      background-position: center 0rem;
      text-indent: -999rem;
      display: block; }

@media screen and (min-width: 50rem) {
  header > div .logo {
    background-position: 0% 0%; } }

[role=main] {
  display: block;
  max-width: 50rem;
  margin: 0 auto;
  background-color: white;
  padding: 0 3rem 3rem 3rem; }

[role=navigation] {
  background-color: white;
  padding: 3rem; }
  [role=navigation] ul {
    padding-bottom: 1rem; }
    [role=navigation] ul li {
      display: inline-block;
      padding-right: 1.5rem; }
      [role=navigation] ul li a {
        padding-bottom: 0.3125rem;
        border-bottom: 0.1875rem solid;
        transition: border-bottom 0.75s ease; }
        [role=navigation] ul li a.selected, [role=navigation] ul li a.selected:hover {
          border-bottom: 0.1875rem solid #333333; }
        [role=navigation] ul li a:hover {
          border-bottom: 0.1875rem solid; }

nav {
  max-width: 50rem;
  margin: 0 auto; }

.page {
  color: red;
  background: blue; }

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
blockquote,
figure,
fieldset,
legend,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

td,
th {
  padding: 0;
  text-align: left; }

h1, h2, h3, h4, h5, h6, caption, .progressbar {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5; }

dt {
  font-weight: 700;
  font-size: 0.85rem; }

dd {
  font-size: 0.85rem; }

h1 {
  font-size: 1.75rem;
  padding-bottom: 0.5em; }
  h1.boxed {
    font-size: 1rem;
    padding-bottom: 1rem; }

h2 {
  font-size: 1.15rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-weight: 700; }
  h2.boxed {
    padding-top: 0;
    padding-bottom: 0; }

h3 {
  font-size: 1rem;
  padding-bottom: 1rem; }
  h3.boxed {
    padding-bottom: 0; }

h4 {
  font-size: 0.85rem; }

caption {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  padding-top: 2rem; }

th {
  font-size: 0.85rem;
  font-weight: 700; }

legend {
  font-size: 0.9rem; }

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.65rem;
  font-size: 16px;
  text-align: left;
  margin: 0;
  padding: 0; }
  body p, body li, body input, body textarea {
    font-size: 0.9rem; }
    body p.small, body li.small, body input.small, body textarea.small {
      font-size: 0.85rem; }
  body p + p {
    padding-top: 0.75rem; }
  body table {
    font-size: 0.85rem; }

footer {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.35rem; }

.semi-bold {
  font-weight: 500; }

.bold {
  font-weight: 700; }
