@-webkit-keyframes fadeinout {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeinout {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

a {
  color: #bf93d8;
  text-decoration: none; }
  a.highlight {
    border-bottom: 2px dashed;
    transition: border-bottom 1s ease; }
    a.highlight:hover {
      color: #333333;
      border-bottom: 2px dashed #333333; }
  a.active {
    border-bottom: 2px solid #333333;
    padding-bottom: 0.25rem; }

button, [role=button] {
  padding: 0.75rem 1.25rem;
  border-radius: 1.25rem;
  font-size: 0.85rem;
  font-weight: 400;
  transition: all 0.5s ease;
  cursor: pointer;
  display: inline-block;
  line-height: normal; }
  button.primary, [role=button].primary {
    border: 2px solid #bf93d8;
    background-color: #bf93d8;
    color: white; }
    button.primary:hover, [role=button].primary:hover {
      background-color: rgba(191, 147, 216, 0.8);
      color: white; }
  button.more:after, [role=button].more:after {
    margin-left: 0.5rem;
    content: "\f054";
    font-family: "Font Awesome";
    font-size: 0.85rem;
    float: right;
    margin-top: 0.15rem; }
  button.submit:after, [role=button].submit:after {
    margin-left: 0.5rem;
    content: "\f00c";
    font-family: "Font Awesome";
    font-size: 0.85rem;
    float: right;
    margin-top: 0.05rem; }
  button.small, [role=button].small {
    padding: 0.4rem 0.8rem; }

em {
  color: #bf93d8;
  font-style: italic; }

.field {
  padding: 0.75rem 0;
  max-width: 35rem; }
  .field.boxed {
    padding: 0 0;
    max-width: 100%; }

input, textarea {
  border: 0.0625rem solid #6f7779;
  background: white;
  border-radius: 0.5rem;
  padding: 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

input:focus, textarea:focus {
  border: 0.0625rem solid yellow;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: yellow; }

::placeholder {
  font: 400 0.9rem "Lato", Helvetica, sans-serif;
  color: #6f7779;
  font-style: italic; }

label {
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
  width: 100%;
  display: block;
  font-weight: 700; }

ul {
  list-style-type: disc;
  list-style-position: inside;
  list-style-image: none; }
  ul.strip-bullet {
    list-style-type: none;
    list-style-position: outside; }

table {
  width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 0.25rem; }
  table thead th {
    padding: 0.75rem 0.5rem;
    border-width: 0 0 0.2rem 0;
    border-style: solid;
    border-color: #bf93d8;
    color: black;
    font-weight: 700; }
  table tbody tr {
    color: black; }
    table tbody tr td:first-child, table tbody tr th[scope=row]:first-child {
      border-left-style: solid;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem; }
    table tbody tr td:last-child {
      border-right-style: solid;
      border-bottom-right-radius: 0.5rem;
      border-top-right-radius: 0.5rem; }
    table tbody tr td {
      border: solid 1px #f7f6f4;
      padding: 0.5rem 0.5rem;
      background-color: #f7f6f4;
      vertical-align: text-top; }

body {
  background-image: url("../images/grid.svg");
  background-repeat: repeat;
  font-family: 'Lato';
  background-color: yellow;
  padding: 1rem !important;
  min-width: 335px; }

.flex-group > div {
  flex: none; }

@media screen and (min-width: 570px) {
  .flex-group {
    display: flex;
    flex-wrap: wrap; }
    .flex-group > div {
      flex: 1;
      margin-right: 0.75rem; }
      .flex-group > div:last-of-type {
        margin-right: 0; }
    .flex-group.flex-start {
      justify-content: flex-start; }
      .flex-group.flex-start > div, .flex-group.flex-start a {
        flex: none;
        margin-right: 1rem; }
        .flex-group.flex-start > div:last-of-type, .flex-group.flex-start a:last-of-type {
          margin-right: 0; }
      .flex-group.flex-start > dl {
        margin-right: 0.75rem; }
      .flex-group.flex-start > dd, .flex-group.flex-start dt {
        flex: none;
        margin-right: 0.75rem !important; }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center; }
    .flex-center > div {
      flex: none;
      margin-right: 1rem; }
      .flex-center > div:last-of-type {
        margin-right: 0; }
    .flex-center > dl {
      flex: none;
      margin-right: 3rem !important; } }

footer {
  margin: 3rem auto;
  max-width: 56rem;
  font-size: 0.9rem; }
  footer a {
    text-decoration: underline; }

header {
  max-width: 56rem;
  margin: 3rem auto 2rem auto;
  text-align: center; }
  header .logo {
    height: 5rem;
    min-width: 3rem;
    background: url("../images/ea-logo.svg");
    background-repeat: no-repeat;
    background-position: center 0rem;
    text-indent: -999rem;
    display: block; }
  header .ea-tagline {
    height: 2.5rem;
    min-width: 3rem;
    background: url("../images/ea-tagline.svg");
    background-repeat: no-repeat;
    background-position: center 0rem;
    text-indent: -999rem;
    display: block; }
  header a {
    color: white; }

@media screen and (min-width: 50rem) {
  header .logo {
    background-position: top left; }
  header .ea-tagline {
    background-position: center right; } }

[role=main] {
  display: block;
  max-width: 56rem;
  margin: 0 auto;
  background-color: white;
  padding: 2rem 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem; }

[role=navigation] {
  padding-bottom: 1.5rem; }
  [role=navigation] ul li {
    display: inline-block;
    padding-right: 1.5rem; }
    [role=navigation] ul li a {
      padding: 0.7rem 1rem;
      background-color: #333333;
      color: white;
      transition: background-color 0.75s ease;
      display: block; }
      [role=navigation] ul li a.selected, [role=navigation] ul li a.selected:hover {
        background: #333333;
        color: #bf93d8;
        transition: color 0.75s ease; }
      [role=navigation] ul li a:hover {
        background: #333333;
        color: #bf93d8;
        transition: color 0.75s ease; }

nav {
  max-width: 56rem;
  margin: 0 auto; }

@media screen and (max-width: 570px) {
  nav {
    text-align: center; } }

.page {
  color: red;
  background: blue; }

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
blockquote,
figure,
fieldset,
legend,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

td,
th {
  padding: 0;
  text-align: left; }

.visually-hidden {
  display: none; }

@font-face {
  font-family: 'Font Awesome';
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/fontawesome-webfont.eot"), url("/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/fontawesome-webfont.woff2") format("woff2"), url("/fonts/fontawesome-webfont.woff") format("woff"), url("/fonts/fontawesome-webfont.ttf") format("truetype"), url("/fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
  /* Legacy iOS */ }

h1, h2, h3, h4, h5, h6, caption, .progressbar {
  font-weight: 400;
  line-height: 1.5;
  color: #bf93d8; }

h1 {
  font-size: 1.75rem;
  padding-bottom: 0.5em; }

h2 {
  font-size: 1.15rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  h2.para {
    color: #333333; }

h3 {
  font-size: 1rem;
  padding-bottom: 1rem; }

h4 {
  font-size: 0.85rem; }

caption {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  padding-top: 2rem; }

th {
  font-size: 0.85rem;
  font-weight: 700; }

legend {
  font-size: 0.9rem; }

body {
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.65rem;
  font-size: 16px;
  text-align: left;
  margin: 0;
  padding: 0; }
  body p, body li, body input, body textarea {
    font-size: 0.9rem; }
    body p.small, body li.small, body input.small, body textarea.small {
      font-size: 0.85rem; }
  body p + p {
    padding-top: 0.75rem; }
  body table {
    font-size: 0.85rem; }

footer {
  font-weight: 400;
  line-height: 1.35rem; }

.semi-bold {
  font-weight: 500; }

.bold {
  font-weight: 700; }
