footer  {
  margin: 0 auto;
  max-width: _breakpoint(step-max);
  background-color: white;
  padding: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.footer-inner {
  color: _palette(graphite);
}

