header {
  max-width: _breakpoint(step-max);
  margin: 3rem auto 2rem auto;
  text-align: center;

  a {
    color: white;
    //height: auto;

  }
  > div {
    //max-width: _breakpoint(step-max);
    margin: 0 auto;

    .logo {
      height: 5rem;
      min-width: 3rem;
      background: url("../images/ea-logo.svg");
      background-repeat: no-repeat;
      background-position: center 0rem;
      text-indent: -999rem;
      display: block;
    }

    .ea-tagline {
      height: 1.5rem;
      min-width: 3rem;
      background: url("../images/ea-tagline.svg");
      background-repeat: no-repeat;
      background-position: center 0rem;
      text-indent: -999rem;
      display: block;
    }
  }
}

@media screen and (min-width: _breakpoint(step-three)) {

  header {

    > div {

      .logo {
        background-position: top left;
      }

      .ea-tagline {
        background-position: center right;
      }
    }
  }
}