[role=navigation] {
    padding-bottom: 1.5rem;

    ul {

      li {
        display: inline-block;
        padding-right: 1.5rem;

        a {
          padding: 0.7rem 1rem;
          background-color: _palette(ea-primary);
          color: white;
          transition: background-color 0.75s ease;
          display: block;

          &.selected, &.selected:hover {
            background: _palette(ea-primary);
            color: _palette(ea-secondary);
            transition: color 0.75s ease;
          }
          &:hover {
            background: _palette(ea-primary);
            color: _palette(ea-secondary);
            transition: color 0.75s ease;
          }
        }
      }
    }
  }


nav {
  max-width: _breakpoint(step-max);
  margin: 0 auto;
}

@media screen and (max-width: _breakpoint(step-two)) {

  nav {
    text-align: center;
  }
}