button, [role=button] {
  padding: 0.75rem 1.25rem;
  border-radius: 1.25rem;
  font-size: _font(size-small);
  font-weight: _font(weight-regular);
  transition: all 0.5s ease;
  cursor: pointer;
  display: inline-block;
  line-height: normal;

  &.primary {
    border: 2px solid _palette(ea-secondary);
    background-color: _palette(ea-secondary);
    color: _palette(white);

    &:hover {
      //border: 2px solid _palette(ea-secondary-80);
      background-color: _palette(ea-secondary-80);
      color: _palette(white);
    }
  }

  &.small {
    padding: 0.4rem 0.8rem;
  }
}