table {
  width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 0.25rem;

thead {

  th {
    padding: 0.75rem 0.5rem;
    border-width: 0 0 0.2rem 0;
    border-style: solid;
    border-color: _palette(ea-secondary);
    color: black;
    font-weight: _font(weight-bold);
  }
}

tbody {

  tr {
    color: black;

    td:first-child, th[scope=row]:first-child {
      border-left-style: solid;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }

    td:last-child  {
      border-right-style: solid;
      border-bottom-right-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    td {
      border: solid 1px _palette(ea-secondary-50);
      padding: 0.5rem 0.5rem;
      background-color:_palette(ea-secondary-50);
      vertical-align: text-top;
    }
  }
}
}
